site_name: Curve Resources Ru
site_url: https://curve-resources-git-ru-separate-curvedocs.vercel.app/ru/
site_author: CurveFi
docs_dir: 'docs/ru'

plugins:
  - search
  - autolinks
  - typeset
  - minify:
      minify_html: true

# extension
markdown_extensions:
  - footnotes
  - def_list
  - attr_list
  - md_in_html
  - admonition
  - meta
  - toc:
      permalink: true
      baselevel: 2
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true

theme:
  name: material
  language: ru
  custom_dir: overrides
  include_search_page: false
  search_index_only: true
  font:
    text: Roboto
    code: Roboto Mono
  logo: "images/lama.png"
  favicon: "images/lama.png"
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.annotate
    - content.tabs.link
    - content.footnote.tooltips
    - navigation.indexes
    - navigation.path
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.code.copy

  palette:
    # - media: "(prefers-color-scheme: dark)"
    - scheme: default
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    # - media: "(prefers-color-scheme: light)"
    - scheme: slate
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to light mode

extra:
  generator: false
  social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/curvefi
      name: Telegram
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/curvefinance
      name: X
    - icon: fontawesome/brands/discord
      link: https://discord.gg/rgrfS7W
      name: Discord
    - icon: fontawesome/brands/youtube
      link: http://www.youtube.com/c/CurveFinance
      name: YouTube
  alternate:
    - name: English
      link: "/"
      lang: en
    - name: Русский
      link: "/ru/"
      lang: ru

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

repo_name: CurveDocs/curve-resources-ru
repo_url: https://github.com/CurveDocs/curve-resources-ru


nav:
  - Главная: index.md
  - Начало работы с Curve: getting-started.md

  - Токен CRV:
    - Обзор & Токеномика: crv-token/overview.md
    - Предложение & Распределение: crv-token/supply-distribution.md
    - CRV & veCRV FAQ: crv-token/faq.md

  - Блок CRV (veCRV):
    - Обзор: ru/vecrv/overview.md
    - Как блокировать CRV: ru/vecrv/locking-your-crv.md
    - Получение торговых комиссий: ru/vecrv/claiming-trading-fees.md
    - Сбор и распределение комиссий: ru/vecrv/fee-collection-distribution.md

  - Стейблкоин Curve (crvUSD):
    - Понимание crvUSD: ru/crvusd/understanding-crvusd.md
    - Создание и управление займом: ru/crvusd/loan-creation.md
    - Ликвидации: ru/crvusd/liquidations.md
    - Стратегии займов: ru/crvusd/loan-strategies.md
    - Глубокое понимание концепций займа: ru/crvusd/loan-concepts.md
    - FAQ по crvUSD: ru/crvusd/faq.md

  - Доходный-crvUSD (scrvUSD): ru/crvusd/scrvusd.md

  - Кредитование Curve:
    - Обзор: ru/lending/overview.md
    - Кредитное плечо: ru/lending/leverage.md
    - Ликвидации: ru/crvusd/liquidations.md
    - Как заимствовать и использовать кредитное плечо: ru/lending/how-to-borrow.md
    - Как поставлять ликвидность: ru/lending/how-to-supply.md
    - FAQ по кредитованию: ru/lending/faq.md
    - Как создать кредитный рынок: ru/lending/create-lending-market.md

  - Пулы:
    - Обзор: ru/lp/overview.md
    - FAQ по депозиту: ru/lp/deposit-faqs.md
    - Расчет доходности: ru/lp/calculating-yield.md
    - Графики и активность пулов: ru/lp/charts_poolactivity.md
    - Депонирование:
      - Обзор: ru/lp/depositing/depositing.md
      - Депонирование в tri-pool: ru/lp/depositing/depositing-into-the-tri-pool.md
      - Депонирование в metapool: ru/lp/depositing/depositing-into-a-metapool.md
      - Депонирование в cryptoswap-pool: ru/lp/depositing/depositing-into-a-cryptoswap-pool.md
      - Депонирование в tricrypto-pool: ru/lp/depositing/depositing-into-a-tricrypto-pool.md

  - Создание пулов:
    - Обзор создания пулов: ru/pool-creation/pool-creation-overview.md
    - Создание Stableswap пула: ru/pool-creation/creating-a-stableswap-pool.md
    - Создание Cryptoswap пула: ru/pool-creation/creating-a-cryptoswap-pool.md
    - Понимание оракулов: ru/pool-creation/understanding-oracles.md

  - Гейджи вознаграждений (Reward Gauges):
    - Обзор: ru/reward-gauges/overview.md
    - Создание гейджа пула: ru/reward-gauges/creating-a-pool-gauge.md
    - Увеличение ваших CRV наград: ru/reward-gauges/boosting-your-crv-rewards.md
    - Весы гейджей: ru/reward-gauges/gauge-weights.md
    - Безразрешительные вознаграждения: ru/reward-gauges/permissionless-rewards.md

  - Управление (Governance):
    - Понимание управления: ru/governance/understanding-governance.md
    - Голосование: ru/governance/voting.md
    - Фонд сообщества: ru/governance/community-fund.md
    - Предложения:
      - Создание предложения DAO: ru/governance/proposals/creating-a-dao-proposal.md

  - Мультичейн:
    - Понимание мультичейн: ru/multichain/understanding-multichain.md
    - CRV: ru/multichain/crv.md
    - crvUSD: ru/multichain/crvusd.md
    - scrvUSD: ru/multichain/scrvusd.md
    - Как перенести CRV, crvUSD и scrvUSD на L1 сети: ru/multichain/bridging-curve-eco-tokens.md

  - Поддержка и устранение неполадок:
    - Поддержка: ru/troubleshooting/support.md
    - Восстановление кросс-активных обменов: ru/troubleshooting/recovering-a-cross-asset-swap.md
    - Отмена и замена зависшей транзакции: ru/troubleshooting/dropping-and-replacing-a-stuck-transaction.md
    - Отключение криптокошельков в Brave: ru/troubleshooting/disabling-crypto-wallets-in-brave.md

  - Риски, безопасность и аудиты:
    - Риски:
      - Ликвидные пулы: ru/risks-security/risks/pool.md
      - crvUSD: ru/risks-security/risks/crvusd.md
      - Кредитование: ru/risks-security/risks/lending.md
    - Безопасность и аудиты: ru/risks-security/security.md

  - Whitepapers (Белые книги):
    - Curve Stableswap (2019): ru/pdf/curve-stableswap.pdf
    - Curve DAO (2020): ru/pdf/curve-dao.pdf
    - Curve Cryptopools (2021): ru/pdf/curve-cryptopools.pdf
    - Curve Stablecoin (2022): ru/pdf/curve-stablecoin.pdf

  - Ссылки:
    - Curve.fi: https://curve.fi/#/ethereum/swap
    - Curve DAO: https://dao.curve.fi/
    - Curve News: https://news.curve.fi/
    - Discord: https://discord.gg/twUngQYz85
    - Github: https://github.com/curvefi/
    - Форум управления: https://gov.curve.fi/
    - Twitter: https://twitter.com/curvefinance
    - Техническая документация: https://docs.curve.fi/
    - Telegram: https://t.me/curvefi

  - Глоссарий: ru/glossary-branding/glossary.md
  - Брендинг и иконки: ru/glossary-branding/branding.md
